<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
          <center>
          <img src="/Images/Logo2.png" alt="FeynCalc logo" width="50%"; style="border:0;">
          </center>

    </div>

    <!-- prepending -->


<form method="get" action="https://encrypted.google.com/search">
        <input type="hidden" name="as_sitesearch" value="www.feyncalc.org">
        <input type="hidden" name="as_q">
        <input type="submit" name="search" value="Go" style="float: right; margin-top: 0.1em;" />
        <div style="overflow: hidden; padding-right: .2em;">
          <input type="text" name="search" placeholder="Search this site with Google" style="width: 100%;"/>
        </div>
</form>

<br>



       <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}/">Home</a>

<!--
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
-->
      <a class="sidebar-nav-item" href="{{ site.url }}/news">News</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/feyncalc/wiki">Wiki</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/reference">Guide</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/feyncalc/">Code</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/forum">Forum</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/donate">Donate</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/impressum">Imprint (Impressum)</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/datenschutz">Privacy (Datenschutz)</a>

    </nav>
      <span class="sidebar-nav-item">Related software</span>
      <a class="sidebar-nav-item2" href="http://www.feynarts.de">FeynArts</a>
      <a class="sidebar-nav-item2" href="http://www.feynarts.de/looptools">LoopTools</a>
      <a class="sidebar-nav-item2" href="https://packagex.hepforge.org/">Package-X</a>
      <a class="sidebar-nav-item2" href="http://www.feynarts.de/formcalc">FormCalc</a>
      <a class="sidebar-nav-item2" href="https://www.nikhef.nl/~form/">Form</a>



  </div>
</div>
