/* source-code-pro-200 - latin_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/source-code-pro-v20-latin_greek-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-code-pro-v20-latin_greek-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v20-latin_greek-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v20-latin_greek-200.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-300 - latin_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/source-code-pro-v20-latin_greek-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-code-pro-v20-latin_greek-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v20-latin_greek-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v20-latin_greek-300.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-regular - latin_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-code-pro-v20-latin_greek-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-code-pro-v20-latin_greek-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v20-latin_greek-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v20-latin_greek-regular.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-600 - latin_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/source-code-pro-v20-latin_greek-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-code-pro-v20-latin_greek-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v20-latin_greek-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v20-latin_greek-600.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-700 - latin_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/source-code-pro-v20-latin_greek-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-code-pro-v20-latin_greek-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v20-latin_greek-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v20-latin_greek-700.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-800 - latin_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/source-code-pro-v20-latin_greek-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-code-pro-v20-latin_greek-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v20-latin_greek-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v20-latin_greek-800.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-900 - latin_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/source-code-pro-v20-latin_greek-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-code-pro-v20-latin_greek-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v20-latin_greek-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v20-latin_greek-900.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-200italic - latin_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/source-code-pro-v20-latin_greek-200italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-code-pro-v20-latin_greek-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v20-latin_greek-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-200italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v20-latin_greek-200italic.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-300italic - latin_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/source-code-pro-v20-latin_greek-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-code-pro-v20-latin_greek-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v20-latin_greek-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v20-latin_greek-300italic.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-italic - latin_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/source-code-pro-v20-latin_greek-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-code-pro-v20-latin_greek-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v20-latin_greek-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v20-latin_greek-italic.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-500italic - latin_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/source-code-pro-v20-latin_greek-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-code-pro-v20-latin_greek-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v20-latin_greek-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v20-latin_greek-500italic.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-600italic - latin_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/source-code-pro-v20-latin_greek-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-code-pro-v20-latin_greek-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v20-latin_greek-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v20-latin_greek-600italic.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-800italic - latin_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/source-code-pro-v20-latin_greek-800italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-code-pro-v20-latin_greek-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v20-latin_greek-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-800italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v20-latin_greek-800italic.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-700italic - latin_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/source-code-pro-v20-latin_greek-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-code-pro-v20-latin_greek-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v20-latin_greek-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v20-latin_greek-700italic.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-900italic - latin_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/source-code-pro-v20-latin_greek-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-code-pro-v20-latin_greek-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-code-pro-v20-latin_greek-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-code-pro-v20-latin_greek-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-code-pro-v20-latin_greek-900italic.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}


/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inter-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inter-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inter-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inter-v8-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v8-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inter-v8-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inter-v8-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v8-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inter-v8-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inter-v8-latin-500.svg#Inter') format('svg'); /* Legacy iOS */
}



/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v8-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inter-v8-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inter-v8-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v8-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inter-v8-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inter-v8-latin-600.svg#Inter') format('svg'); /* Legacy iOS */
}





  html {
      line-height: 1.5;
      font-family: 'Inter', Georgia, serif;
      font-size: 20px;
      color: #1a1a1a;
      background-color: #ffffff;
    }
    body {
      margin: 0 auto;
      max-width: 72em;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
      hyphens: auto;
      word-wrap: break-word;
      text-rendering: optimizeLegibility;
      font-kerning: normal;
    }
    @media (max-width: 600px) {
      body {
        font-size: 0.9em;
        padding: 1em;
      }
    }
    @media print {
      body {
        background-color: transparent;
        color: black;
        font-size: 12pt;
      }
      p, h2, h3 {
        orphans: 3;
        widows: 3;
      }
      h2, h3, h4 {
        page-break-after: avoid;
      }
    }
    p {
      margin: 1em 0;
    }
    a {
      color :#142899;
      font-weight: 600;
      /*color: #1a1a1a;*/
    }
    a:hover {
      color :#bd3b1a;
    }
    
    a:visited {
      color: #1a1a1a;
    }
    img {
      max-width: 100%;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-top: 1.4em;
    }
    h5, h6 {
      font-size: 1em;
      font-style: italic;
    }
    h6 {
      font-weight: normal;
    }
    ol, ul {
      padding-left: 1.7em;
      margin-top: 1em;
    }
    li > ol, li > ul {      
      margin-top: 0;
    }
    blockquote {
      margin: 1em 0 1em 1.7em;
      padding-left: 1em;
      border-left: 2px solid #e6e6e6;
      color: #606060;
    }
/*    
    code {
      font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
      font-size: 85%;
      margin: 0;
    }
*/    
    code { 
    	font-family: 'Source Code Pro' !important; 
    	font-size: 85%; 
    	color: #1d1d1d; 
    	white-space: pre-line; 
    	font-style: normal;
	font-weight: 700;
    	line-height: 1.2; 
    }
    
    pre {
      margin: 1em 0;
      overflow: auto;
    }
    pre code {
      padding: 0;
      overflow: visible;
    }
    .katex {
     background-color: transparent;
     overflow: visible;
    }
    hr {
      background-color: #1a1a1a;
      border: none;
      height: 1px;
      margin: 1em 0;
    }
    table {
      margin: 1em 0;
      border-collapse: collapse;
      width: 100%;
      overflow-x: auto;
      display: block;
      font-variant-numeric: lining-nums tabular-nums;
    }
    table caption {
      margin-bottom: 0.75em;
    }
    tbody {
      margin-top: 0.5em;
      border-top: 1px solid #1a1a1a;
      border-bottom: 1px solid #1a1a1a;
    }
    th {
      border-top: 1px solid #1a1a1a;
      padding: 0.25em 0.5em 0.25em 0.5em;
    }
    td {
      padding: 0.125em 0.5em 0.25em 0.5em;
    }
    header {
      margin-bottom: 4em;
      text-align: center;
    }
    #TOC li {
      list-style: none;
    }
    #TOC a:not(:hover) {
      text-decoration: none;
    }
    code{white-space: pre-wrap;}
    span.smallcaps{font-variant: small-caps;}
    span.underline{text-decoration: underline;}
    div.column{display: inline-block; vertical-align: top; width: 50%;}
    div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
    ul.task-list{list-style: none;}
    pre > code.sourceCode { white-space: pre; position: relative; }
    pre > code.sourceCode > span { display: inline-block; line-height: 1.25; }
    pre > code.sourceCode > span:empty { height: 1.2em; }
    .sourceCode { overflow: visible; }
    code.sourceCode > span { color: inherit; text-decoration: inherit; }
    div.sourceCode { margin: 1em 0; }
    pre.sourceCode { margin: 0; }
    @media screen {
    div.sourceCode { overflow: auto; }
    }
    @media print {
    pre > code.sourceCode { white-space: pre-wrap; }
    pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
    }
    pre.numberSource code
      { counter-reset: source-line 0; }
    pre.numberSource code > span
      { position: relative; left: -4em; counter-increment: source-line; }
    pre.numberSource code > span > a:first-child::before
      { content: counter(source-line);
        position: relative; left: -1em; text-align: right; vertical-align: baseline;
        border: none; display: inline-block;
        -webkit-touch-callout: none; -webkit-user-select: none;
        -khtml-user-select: none; -moz-user-select: none;
        -ms-user-select: none; user-select: none;
        padding: 0 4px; width: 4em;
        color: #aaaaaa;
      }
    pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
    div.sourceCode
      {   }
    @media screen {
    pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
    }
    code span.al { color: #ff0000; font-weight: bold; } /* Alert */
    code span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
    code span.at { color: #7d9029; } /* Attribute */
    code span.bn { color: #40a070; } /* BaseN */
    code span.bu { } /* BuiltIn */
    code span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
    code span.ch { color: #4070a0; } /* Char */
    code span.cn { color: #880000; } /* Constant */
    code span.co { color: #60a0b0; font-style: italic; } /* Comment */
    code span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
    code span.do { color: #ba2121; font-style: italic; } /* Documentation */
    code span.dt { color: #902000; } /* DataType */
    code span.dv { color: #40a070; } /* DecVal */
    code span.er { color: #ff0000; font-weight: bold; } /* Error */
    code span.ex { } /* Extension */
    code span.fl { color: #40a070; } /* Float */
    code span.fu { color: #06287e; } /* Function */
    code span.im { } /* Import */
    code span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
    code span.kw { color: #007020; font-weight: bold; } /* Keyword */
    code span.op { color: #666666; } /* Operator */
    code span.ot { color: #007020; } /* Other */
    code span.pp { color: #bc7a00; } /* Preprocessor */
    code span.sc { color: #4070a0; } /* SpecialChar */
    code span.ss { color: #bb6688; } /* SpecialString */
    code span.st { color: #4070a0; } /* String */
    code span.va { color: #19177c; } /* Variable */
    code span.vs { color: #4070a0; } /* VerbatimString */
    code span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
